<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Documentation - Google Trends Flask API</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body class="api-docs">

<header>
    <nav>
        <h1>StartUp Compass API Documentation</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/trends_documentation">Trends</a></li>
            <li><a href="/metrics_documentation">Metrics</a></li>
        </ul>
    </nav>
</header>

<div>
    <div class="api-docs-container">
        <h1 class="api-docs-main-title">StartUp Compass Flask API Documentation</h1>
        <p class="api-docs-intro">This documentation provides an overview of the StartUp Compass Flask API, designed to assist developers and business owners in leveraging our API for data analysis and decision-making.</p>
        
        <h2 class="api-docs-section-title">Overview of the API</h2>
        <p class="api-docs-description">The StartUp Compass API offers endpoints for:</p>
        <ul class="api-docs-list">
            <li>Analyzing financial metrics</li>
            <li>Assessing business performance</li>
            <li>Retrieving insights from Google Trends</li>
        </ul>
        <p class="api-docs-description">These functionalities allow users to track market trends and consumer interests effectively.</p>
        
        <h2 class="api-docs-section-title">Getting Started with the API</h2>
        <p class="api-docs-description">To begin using the StartUp Compass API, follow these steps:</p>
        <ol class="api-docs-steps">
            <li><strong>Choose an Endpoint:</strong> Review the available API endpoints listed to determine which one suits your needs.</li>
            <li><strong>Set Up Your Request:</strong> Create an HTTP request (GET) to the desired endpoint, including any required parameters.</li>
            <li><strong>Send the Request:</strong> Use tools like Postman, cURL, or your preferred programming language to send the request to the API.</li>
            <li><strong>Handle the Response:</strong> Analyze the JSON response returned by the API, which will include the data or any error messages.</li>
        </ol>

        <p class="api-docs-cta">Ready to dive in? <a href="/trends_documentation" class="get-started-link">Get Started</a></p>

        <h2 class="api-docs-section-title">Contact and Support</h2>
        <p class="api-docs-description">If you have questions or require further assistance, please reach out via the contact form on our website. We are committed to providing the support you need for successful integration with our API.</p>
    </div>
</div>

</body>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</html>
